/* ----------------------------- */
/* 		= Color codes 				*/
/* ----------------------------- */
/*
Black (text):				#000
Light background			#F2F2CE
Dark background			#cccc99
Gray (links)				#0066a1	inutilisé
*/

/* ----------------------------- */
/* 		= Base styles				*/
/* ----------------------------- */

* {
  font-family: Verdana, Arial;
  font-size: 11px;
  --vlight-bg-color : #f6f6ed;
  --light-bg-color: #e8ecc8;
  --darker-color: #666633;
  --dark-bg-color: #cccc99;
  --mbr-color: #A47B92;
  --non-mbr-color: #9690A6;
  --largeur-contenu:1100px;
  --largeur-vignette:220px;		/*attention cette valeur ne peut être transmise à "vignette"*/
}
.light{
	background-color: var(--light-bg-color);
	font-family: inherit;
	font-style: inherit;
	font-size: inherit;
	font-weight: inherit;
}
.dark{
	background-color: var(--dark-bg-color);
}
.darker_color{
	color: var(--darker-color);
}
.gray{
	background-color: #bbb;
}

html, body, form, h2, h5 {
	margin: 0; padding: 0;
}

html, body {
  background-color: var(--dark-bg-color);
  background-position: 0% 0%;
  border-color: var(--dark-bg-color);
  height: 100%;
  width: 100%;
}
a, .a_no_dec {
  text-decoration: none;
  color: #555;
  font-size: inherit;
  font-weight: inherit;
}
a:hover {
  text-decoration: underline;
}
.a_no_dec:hover {
    text-decoration: none;
}

h2, h2 a, h2 i {
  font-size: 1.5em;
  font-weight: normal;
}
h5, h5 a, h5 a em {
  font-size: 1.2em;
  font-weight: normal;
}
h5 a em, h2 em, h2 i, h5 i {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

h5 b, h5 strong, h5 strong a {
  font-size: inherit;
  font-weight: bold;
}
strong {
	font-size: inherit;
	color: inherit;
}

h2 a, h5 a, b a, a b {
  color: #555;
}

em{
	font-size: inherit;
}
i {
  font-style: italic;
}

img{
    border-width: 1px;
}

input, textarea, select, button {
  background-color: var(--dark-bg-color);
  overflow-x: hidden;
  resize: vertical;
  color: black;
}

/* ----------------------------- */
/* 		= Blocs						*/
/* ----------------------------- */

.loader{
	background: url('../img/ajax-loader1.gif') 50% 50% no-repeat rgba(255, 255, 255, 0.2);
	cursor: wait;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
}

#contenu1 {  /* grosse division juste après body ; maintient #bas-page en bas d'un affichage "standard" + largeur fixe + centrée */
  display: table;
  padding: 1em;
  height: 100%;
  width: 1380px;
  margin-left: auto;
  margin-right: auto;
}
#gauche {
	float: none;
  display: table-cell;		/*permet d'obtenir un bon affichage, et évite le scroll-bar vertical*/
  min-width: 18em;
  padding-right: 6px;
  padding-left:0px;
  vertical-align: top;
}
#main {  /* partie principale, à droite de #gauche */
  display: table-cell;
  /*width: 100%;*/
  /*overflow: visible;*/
  min-height: 82%;
  padding-left: 6px;
  margin-bottom: 11px;
}

#bas_page {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  clear: both;
  margin-top: 1em;
  padding-bottom: 1em;
  border-top: 1px dotted var(--light-bg-color);
}

/*.bloc_clair{
	display:table;
	background-color:var(--light-bg-color);
	min-width:500px;
	padding-left:3px;
}*/
.crit{	/* dans colg1 -> #gauche */
	margin:6px 0 6px 0;
	padding:3px 0 5px 0;
	background-color: var(--light-bg-color);
}
.crit_l{
	padding-left: 10px;
}
.rectangle_light{
	display: table;
	background: var(--light-bg-color);
}
.rectangle_darkened{
	display: table;
	background: var(--dark-bg-color);
}

.bloc_median{	/* pour les mises à jour (welcome1) */
	width:var(--largeur-contenu);
}
.article {  /* affichage de chaque article, sur la page articles récents */
  overflow: auto;
  margin-left: 1em;
  margin-right: 1em;
  padding-bottom: 10px;
}
.cellule_texte {	/* colonne texte de présentation de chaque article + partie du bloc des mises à jour de welcome1 */
	display: table-cell;
    border: 0px;
	width:400px;
	vertical-align:top;
}
#last_maj{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding:0;
}
#bloc_last_maj{
  flex: 1 0 0%; 
  display: flex; 
  flex-direction: column; 
  justify-content: space-between;
} 
#bloc_info{		/* contenu dans le précédent, avec le message d'info */
	bottom:1px;
	border:2px solid var(--light-bg-color);
	font-family: monospace;
	font-size: 12px;
  color: var(--darker-color);
  font-weight:bold;
}
#bloc_last_maj-illustr{	/* pavé central avec l'illustration, inclus dans dans "last_maj" */
	padding: 0 12px 0 18px;
  flex: 0 1 auto;
  max-width:none;
  overflow: hidden;
}
#image_last_maj{
  max-width:640px;
	max-height:440px;
}
/* ---- */

.original{
	font-style: italic;
}
.centrer {
  margin-left: auto;
  margin-right: auto;
}
.center {  /* pour certains affichages (plutôt étroits), à l'intérieur de #main : sources1, req_login, etc...*/
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 85%;
  min-width:820px;
}

.tiret, .article {
	border-bottom: 1px dotted var(--light-bg-color);
	margin-bottom: 5px;
}

.droite {  /* pour logo LISA + formulaire connexion */
  float: right;
  margin: 2em;
  margin-right: 1em;
  padding: 1em;
  background-color: inherit;
}

.img_droite {   /* illustrations d'articles, et autres pages */
  float: right;
  max-width: 60%;
  margin-top: 7px;
  margin-right: 0px;
  margin-bottom: 7px;
  margin-left: 7px;
  text-align: center;
  font-style: italic;
}
.img_gauche {  /* illustrations d'articles */
  float: left;
  max-width: 60%;
  margin-top: 0px;
  margin-right: 7px;
  margin-bottom: 7px;
  margin-left: 0px;
  text-align: center;
  font-style: italic;
}

/* pour l'affichage "lightbox" des images */
img {
  max-width: 100%;
}
.open-lightbox{
	cursor: zoom-in;
}
.lightbox-opened {
  background-color: #333;
  background-color: rgba(64,64,64, 0.4);
  cursor: pointer;
  height: 100%;
  left: 0;
  overflow-y: scroll;
  padding: 16px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
}
.lightbox-opened img {
    box-shadow: 0 0 6px 3px #333;
    max-height: 100%;
}

.no-scroll {
  overflow: hidden;
}

/* ne paraissent plus utilisées
/*
.cssinput_bold :first-child{
	font-weight: bold;
.marge_gauche{
	margin-left: 1.25cm;
	font-size: inherit;
}
}*/
/* POLICES */
.titre-a{
	font-size:1.5em;
}
.titre-c{
	font-size:1.2em;
}
.tiny{
  font-size: 0.8em;
}
.legende_img{
  font-size: 0.8em;
  font-style: italic;
}

/* alignements */
.align_middle{
  vertical-align: middle;
}

/* effet cacher-dérouler, utilisé dans la page "archive" */
.less:active .button-read-more, .button-read-less  {display: none}
.less:active .button-read-less {display: block}
.more {margin-left: 20px;margin-top: 0px}

.tooltip	/* infobulle */
{
  text-decoration:dashed underline;
  position:relative;
}
.tooltip span
{
  display:none;
  border-radius:6px;
  color:black;
  background:white;
}
.tooltip span img
{
  float:left;
  margin:2px 2px 2px 2px;
}
.tooltip:hover span
{
  display:block;
  position:absolute;
  top:0;
  left:0;
  z-index:1000;
  width:auto;
  max-width:920px;
  min-width:200px;
  border:1px solid black;
  margin-top:12px;
  margin-left:32px;
  overflow:hidden;
  padding:2px;
  font-weight: normal;
  text-decoration:none;
}
/* pour les cercles "info" */
.tool {
  position: relative;
  color: #00b4ab;
  font-weight: bold;
}

.tool .tool-text {
  visibility: hidden;
  background-color: #00b4ab;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 25px;
  left: -80px;
  margin-left: -60px;
  opacity: 0;
  transition: .3s;
  transform: translate3d(0px, 20px, 0px);
}
.tool:hover .tool-text {
  visibility: visible;
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}
#info_url_edit{
  width: 400px;
  height: 120px;
}
.circle{
	display: inline-block;
    margin:5px;
    width:25px;
    background-color: #00b4ab;
    height:25px;
    text-align:center;
    border-radius:25px;
    /*line-height: 30px;*/
    /*font-family: Georgia, serif;*/
    font-weight: bold;
    font-size: 16px;
    color: #fff;
}
/* autres infobulles (références)*/
.info{
	display: inline-block;
	position: relative;
	text-decoration: underline dotted;
}
.info span{		/*utilisé en connection avec le jquery + ajax ref_query.php */
  display: none;
  background-color: white;
  text-align: left;
  font-style: normal;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 15px;	/*décallage vers le haut*/
  /*left: 0px;*/		/*alignement des bords gauche		:  FIXÉ dans accueil par jquery ; dans affichage_actes, se cale sur la gauche du div parent*/
  /*margin-left: -60px;*/
	/*width:500px;*/
}
.info:hover span
{
  display:block;
  cursor:  pointer;
  z-index:1000;
}

.over{
	font-size: inherit;
}
.over:hover{
	cursor: help;
}
.over div{
  display: none;
  text-align: left;
    border-radius: 6px;
  padding: 5px;
  position: absolute;
}
.over:hover div
{
  display:block;
  z-index:10;
  background-color:white;
  width: 200px;
    bottom: 25px;
  transition: all 4s linear;
}

.info1{
	display: inline-block;
	position: relative;
}
.info1:hover
{
  cursor:  pointer;
}
.info1 div{		/*utilisé en connection avec le jquery + ajax ref_query.php */
  display: none;
  text-align: left;
  font-style: normal;
  position: absolute;
  pointer-events: none;
  z-index: 10;
  top: 5px;	/*décallage vers le haut (??? : annulé dans accueil ; à supprimer après vérification)*/
  padding:3px;
  /*left: 0px;*/		/*alignement des bords gauche		:  FIXÉ dans accueil par jquery ; dans affichage_actes, se cale sur la gauche du div parent*/
  /*margin-left: -60px;*/
	width:calc(var(--largeur-vignette) - 6px);
	height: calc(var(--largeur-vignette) - 6px);
	background-color: rgba(255, 255, 255, 0.75);
}
.info1:hover div
{
  display:block;
  cursor:  pointer;
  z-index:1000;
  transition: all 4s linear;
}
.info0{		/*pour l'affichage du titre des articles sans images */
  display: inline-block;
  cursor:  pointer;
  position: relative;
  top: 5px;
  text-align: left;
  font-style: normal;
  margin-bottom: 10px;
  padding:3px;
  width:calc(var(--largeur-vignette) - 6px);
	/*width:234px;*/
	height: calc(var(--largeur-vignette) - 6px);
	background-color: rgba(255, 255, 255, 0.75);
	vertical-align: top;
}
.info2{	/* pour vignettes de màj */
	display: block;
}
.fleches_articles{
  width:22px;
  vertical-align:sub;
}
.fleches_articles:hover{
	z-index: 5;
	transform: scale(1.7);
}
/* ------ tableaux CSS ----------*/

div.colonnes {
    display: table;
    border-collapse: separate;
}
.row {
    display: table-row;
    border: 0px;
    height: 25px;
}

.cellule {
    display: table-cell;
    vertical-align: top;
    border: 0px;
}
.cellule20{
  width:200px;
}
.cellule33{
  width:330px;
}
.cellule13{
  width:130px;
}
.cellule18{
  width:180px;
}

#travaux_indexes .cellule{	/* affichage spécifique */
	width: 35em;
}

#liste_sources .row{	/* affichage plus serré, compatible avec le reste de la page */
	height: auto;
}

/* --- listes en forme de tableaux, nb. de colonnes fonction de la largeur de la fenêtre ---*/

.case15 {
    margin: 0px;
    padding: 0px;
    float: left;
}
.case15{	/*mise en forme formulaire de saisie de travaux (présentation à revoir) */
    width: 15em;
}

.inblock12,.inblock23,.inblock30 {
	display: inline-block;
	vertical-align: top;
}
.inblock12{		/* multicolonnage dans liste patronymes... */
	width: 12em;
}
.inblock23{		/* multicolonnage dans liste noms, liste sources... */
	width: 23em;
}
.inblock30{		/* multicolonnage dans liste noms, liste sources... */
	width: 30em;
}

/* -------mise en forme textes ----------*/

.crit_elts{
	color : #888;
	font-style: italic;
}
/* ---------------------------*/
span.big{	/* page sélectionnée dans une liste : prénoms, certains articles (calligraphie allemande) */
    font-size: large;
}
span.big a{
    font-size: inherit;
}

.tiny_vspace {	/* surtout dans "entites1" */
	margin-bottom: 5px;
}

.error-message{
	background:url(../img/error.png) 1px center no-repeat;
	padding: 0 0 0 30px;
	display: inline;
	color: #ff5b5b;
	display: none;
}

/* ------ identifiants mineurs ----------*/

#initiale{		/* dans l'overlay des initiales de noms */
  margin-top: 1px;
  margin-right: 1px;
  margin-bottom: 1px;
  margin-left: 1px;
  float: left;
  width: 3em;
  text-align: center;
}

#recherche_article { /* bloc contenant le form de recherche dans welcome1 */
	margin:13px 0 13px 0;
	margin-left: 11px;
	/*text-align:center;*/
}

/* ----------------------------- */
/* 		= Lists						*/
/* ----------------------------- */

ul.noindent, ul.nobug {  /* très petites indentations : commune1, entity1, etc. */
  margin-top: 2px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
  padding-left: 10px;
}
ul.nobug li {			/* plus sans puce : généalogie dans "Langoutte" */
	list-style: none;
}

#themes_aticles > ul{		/* cette page n'est plus en ligne */ 
	margin-bottom:10px;
	padding-left: 20px;
}

#themes_aticles > ul > li > ul{
	list-style-type:none;
	padding-left: 12px;
}

.rectangle_light ul{		/* utilisé pour la page mel_gnn */
	padding-bottom:6;
	padding-top:3;
	margin-left:0px;
	padding-left:20px;
}

.rectangle_light ul > li{
	margin-bottom: 3px;
}

/* ----------------------------- */
/* 		= tables						*/
/* ----------------------------- */

.tableau_col_alt{							/* pages commune1 etc. */
	border-collapse:collapse;
}
.tableau td, .tableau_col_alt td {  /* colonnes espacées  */
  padding-right: 15px;
  padding-left: 0px;
  vertical-align: top;
}

table.tableau_col_alt tr:nth-child(2n) {  /* table avec chgt de couleur une ligne sur deux */
  background-color: #d6d6a0;
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
}

#tableau_lexique {								/* page glossaire */
	width: 100%;
	border-collapse: collapse;
}
#tableau_lexique td{
	border-width:1px;
	border-style:solid;
	border-color:#aaa;
	padding: 4px;
	font-size: 1em;
}

.tableau_grille_fine{
 	border-collapse:collapse;
}
.tableau_grille_fine td{
	border:1px solid black;
	min-width: 40px;
	padding: 1px 3px 1px 3px;
}
/* ----------------------------- */
/* 		= bouton						*/
/* ----------------------------- */

.bouton {
	display: inline-block;
  width: 100px;
  height: 24px;
  font-family: Arial, sans-serif;
  font-size: 1.2em;
  line-height: 24px;
  text-align: center;
  color: #444444;
    -moz-box-shadow:inset 0px 1px 0px 0px #ff
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.25, var(--dark-bg-color)), color-stop(1, var(--light-bg-color)) );
    background:-moz-linear-gradient( center top, var(--dark-bg-color) 25%, var(--light-bg-color) 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='var(--dark-bg-color)', endColorstr='var(--light-bg-color)');
  background-color: var(--dark-bg-color);  
	-webkit-border-top-left-radius:4px;
	-moz-border-radius-topleft:4px;
  border-top-left-radius:4px;
    -webkit-border-top-right-radius:4px;
    -moz-border-radius-topright:4px;
    border-top-right-radius:4px;
    -webkit-border-bottom-right-radius:4px;
    -moz-border-radius-bottomright:4px;
    border-bottom-right-radius:4px;
    -webkit-border-bottom-left-radius:4px;
    -moz-border-radius-bottomleft:4px;
    border-bottom-left-radius:4px;
   border:1px solid var(--light-bg-color);
}
.bouton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, var(--light-bg-color)), color-stop(1, var(--dark-bg-color)) );
	background:-moz-linear-gradient( center top, var(--light-bg-color) 5%, var(--dark-bg-color) 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='var(--light-bg-color)', endColorstr='var(--dark-bg-color)');
	background-color:var(--light-bg-color);
}
.bouton:active {
	position:relative;
	top:1px;
}

/* tous les boutons */
button, .pointer{
	cursor:  pointer;
}

.bouton_color{
	color:white;
	border-radius: 7px;
	font-weight:bold;
	padding:4px 15px 4px 15px;
	cursor:  pointer;
}
.bouton_indian{
	background-color:IndianRed;
}
.bouton_red{
	background-color:Red;
}
.bouton_blue{
	background-color:DodgerBlue;
}
.bouton_gris{
	background-color:Gainsboro;
}
.bouton_vert{
	background-color:Green;
}
.bouton_vert_clair{
	background-color:MediumSeaGreen;
}
.bouton_darkgray{
	background-color: #999;
}
.bouton_clair{
	background-color: var(--light-bg-color);
	color: black;
}
.bouton_info{
	background-color: #00b4ab;
}

.clignote {
  background-color:DodgerBlue;
  animation: clignote 2s linear infinite;
}
@keyframes clignote {  
  50% { opacity: 0; }
}

/* transcriptions */

#transcription p{
	margin-top: 4px;
	margin-bottom: 3px;
}
.sujet {
  position: relative;
  background-color: var(--light-bg-color);
}
.sujet:hover .complement {
  visibility: visible;
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}
.sujet p{
	margin-top: 0px;
	margin-bottom: 0px;
}
.sujet .complement {
  visibility: hidden;
  background-color: var(--vlight-bg-color);
  font-style: italic;
  text-align: left;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  /*bottom: -140px;*/
  /*left: -80px;*/
  /*margin-left: -60px;*/
  opacity: 0;
  transition: .3s;
  transform: translate3d(0px, 20px, 0px);
}